body {
  border: s0lid;
  margin-top: 20px;
  padding: 20px;
  margin-left: 270px;
  background-color: #63c5da;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background-image: url("cloud.jpg"); */
}
#city {
  width: 50%;
}

#today:hover {
  background-color: #158cc4;
  cursor: pointer;
  color: #fff;
}

.cloud {
  font-size: 60px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#degree:hover {
  background-color: #158cc4;
  cursor: pointer;
  color: #fff;
}

/* h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #272044;
/* /* } 


/* }
section header {
  color: #8064e9;
  padding: 0 0 24px;
}
#shecodes {
  font: size 18px;
}
.join.now button {
  background-color: #8064e9;
  color: #fff;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 15px 20px;
  border: 0;
  font-size: 18px;
  box-shadow: 5px 5px 12px rgb(0, 0, 0.1); */
/* }
button:hover {
  background-color: #401ec7;
  cursor: pointer;
}

section {
  margin-top: 120px;
  text-align: center;
  font-size: larger;
} */
