body {
  background-image: url(/images/cloud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-wrapper{
  max-width: 1500px;
  margin: 20px;
}
.container {
  border: double #000 3px;
  padding: 30px;
}

.header-one {
  display: flex;
  justify-content: space-evenly;
  margin-left: 70px;
  margin-right: 70px;
}
.headtext {
  font-family: roboto;
  font-size: larger;
  font-weight: bolder;
  color: black;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}

#enterCity {
  padding: 8px;
  background-color: rgb(231, 230, 230);
  border: solid gray 1px;
  border-radius: 20px;
  box-shadow: 2px 4px 2px gray;
}

 #search { 
  padding: 8px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: small;
  border: solid gray 1px;
  border-radius: 20px;
  box-shadow: 1px 2px 1px gray;
  color: #191919;
  transition: 150ms;
}
#search:hover {
  cursor: pointer;
  background-color: blue;
  color: #fff;
 } 



.location {
  font-family: roboto;
  font-size: larger;
  font-weight: 700;
  margin-top: 40px;
}

.temp {
  font-family: roboto;
  font-size: 55px;
  font-weight: bolder;
}

.temp-span {
  font-size: 30px;
}

.passiveTemp {
  text-decoration: none;
  color: blue;
  cursor: default;
}

.active{
  color: #000000;
  text-decoration: none;
  cursor: default;
}


#description{
 font-family: roboto;
 font-weight: 600;
 font-style: italic;
}

#time {
  font-family: roboto;
  font-size: large;
  font-weight: 600;
}

#icon{
  width: 100px;
}


.right-body {
  font-size: medium;
  font-family: roboto;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}


#bottom-page {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.weather-forecast
{
  background-color: blue;
  padding: 20px;
  color: white;
  border: solid gray 1px;
  border-radius: 20px;
  box-shadow: 1px 2px 1px gray;

}


#weather-forecast-min{
  opacity: 0.6;
}


/* MEDIA-QUERY */

 @media only screen and (max-width: 600px) { 

  .app-wrapper{
    max-width: 600px;
  }

  .container {
    border: double #000000 3px;
    padding: 15px;
    width: 350px;
    /* margin-left: 80px; */
     /* align-items: center;  */
  }

  .header-one {
    display: flex;
    flex-wrap: nowrap;
  }

  .headtext {
    font-family: roboto, arial;
    font-size:small;
    color: black;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  #enterCity {
    /* width: 150px; */
    padding: 8px;
    background-color: rgb(231, 230, 230);
    border: solid gray 1px;
    border-radius: 17px;
    box-shadow: 1px 2px 1px gray;
  }

  #search {
    padding: 8px;
    border: solid gray 1px;
    margin-left: 0px;
    border-radius: 17px;
    box-shadow: 1px 2px 1px gray;
    color: grey;
    transition: 150ms;
    width: 70px;
    background-color: #eae7e7;
    
  }

  #search:hover {
    cursor: pointer;
    background-color: blue;
    color: #fff;
  }


  
  .location {
    font-family: roboto;
    font-size: medium;
    font-weight: 700;
    margin-top: 40px;
  }
  
  .temp {
    font-family: roboto;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .temp-span {
    font-size: 15px;
  }
  
  .passiveTemp {
    text-decoration: none;
    color: blue;
    cursor: default;
  }
  
  .active{
    color: #000000;
    text-decoration: none;
    cursor: default;
  }
  
  
  #description{
   font-family: roboto;
   font-weight: 600;;
   font-style: italic;
  }
  
  #time {
    font-family: roboto;
    font-size: medium;
    font-weight: 600;
  }
  
  #icon{
    width: 100px;
  }
  
  
  .right-body {
    font-size: small;
    font-family: roboto;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
  }

  
  
  #bottom-page {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
  }
  
  .weather-forecast{
    font-size: x-small;
    background-color: blue;
    padding: 8px;
    color: white;
    margin-right: 5px;
    border-radius: 15px;
    border: none;
  }
  
  
}